#ciaform input, #ciaform select, #ciaform textarea{
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #ced4da;

}
#ciaform input:focus, #ciaform select:focus, #ciaform textarea:focus{
    box-shadow: none;
}
#ciaform label{
    color: grey;
    z-index: 999;
}
#ciaform input[type=checkbox]{
    border: 1px solid grey;
}