.about-text{
    font-size: large;
    font-family: 'Libre Baskerville', serif;
}

ul#awardbenefits li{
    font-size: larger;
    padding: 5px;
    margin: 0 50px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-weight: bold;
}
ul#awardbenefits li:hover{
    background-color: lightcyan;
}